<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="izibiz.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EFaturaOIBPortBinding" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999">
          <security mode="Transport" />
        </binding>
        <binding name="EFaturaOIBPortBinding1" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999" />
        <binding name="AuthenticationPortBinding" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999">
          <security mode="Transport" />
        </binding>
        <binding name="AuthenticationPortBinding1" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999" />
        <binding name="EFaturaArchivePortBinding" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999">
          <security mode="Transport" />
        </binding>
        <binding name="EFaturaArchivePortBinding1" maxBufferSize="99999999"
          maxReceivedMessageSize="99999999" />
        <binding name="EIrsaliyeServicePortBinding" sendTimeout="00:02:00"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999">
          <security mode="Transport" />
        </binding>
        <binding name="EIrsaliyeServicePortBinding1" openTimeout="00:02:00"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
        <binding name="ReconciliationPortBinding" sendTimeout="00:02:00"
                 maxBufferSize="99999999" maxReceivedMessageSize="99999999">
          <security mode="Transport" />
        </binding>
        <binding name="ReconciliationPortBinding1" openTimeout="00:02:00"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
        
        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EFaturaOIB"
        binding="basicHttpBinding" bindingConfiguration="EFaturaOIBPortBinding"
        contract="serviceOib.EFaturaOIBPort" name="EFaturaOIBPort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/AuthenticationWS"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationPortBinding"
        contract="serviceAuth.AuthenticationServicePort" name="AuthenticationPort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EIArchiveWS/EFaturaArchive"
        binding="basicHttpBinding" bindingConfiguration="EFaturaArchivePortBinding"
        contract="serviceArchive.EFaturaArchivePort" name="EFaturaArchivePort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EIrsaliyeWS/EIrsaliye"
        binding="basicHttpBinding" bindingConfiguration="EIrsaliyeServicePortBinding"
        contract="serviceDespatch.EIrsaliyeServicePort" name="EIrsaliyeServicePort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/Reconciliation"
        binding="basicHttpBinding" bindingConfiguration="ReconciliationPortBinding"
        contract="serviceReconcilation.ReconciliationPort" name="ReconciliationPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <izibiz.UI.Settings>
      <setting name="language" serializeAs="String">
        <value>Turkish</value>
      </setting>
    </izibiz.UI.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>