<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="izibiz.SERVICES.sesionId" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EFaturaOIBPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EFaturaOIBPortBinding1" />
        <binding name="EFaturaArchivePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EFaturaArchivePortBinding1" />
        <binding name="EIrsaliyeServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EIrsaliyeServicePortBinding1" />
        <binding name="AuthenticationPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AuthenticationPortBinding1" />
        <binding name="ReconciliationPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ReconciliationPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EFaturaOIB"
        binding="basicHttpBinding" bindingConfiguration="EFaturaOIBPortBinding"
        contract="serviceOib.EFaturaOIBPort" name="EFaturaOIBPort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EIArchiveWS/EFaturaArchive"
        binding="basicHttpBinding" bindingConfiguration="EFaturaArchivePortBinding"
        contract="serviceArchive.EFaturaArchivePort" name="EFaturaArchivePort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/EIrsaliyeWS/EIrsaliye"
        binding="basicHttpBinding" bindingConfiguration="EIrsaliyeServicePortBinding"
        contract="serviceDespatch.EIrsaliyeServicePort" name="EIrsaliyeServicePort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/AuthenticationWS"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationPortBinding"
        contract="serviceAuth.AuthenticationServicePort" name="AuthenticationPort" />
      <endpoint address="https://efaturatest.izibiz.com.tr:443/Reconciliation"
        binding="basicHttpBinding" bindingConfiguration="ReconciliationPortBinding"
        contract="serviceReconcilation.ReconciliationPort" name="ReconciliationPort" />
    </client>
  </system.serviceModel>
  <userSettings>
    <izibiz.SERVICES.sesionId>
      <setting name="sesion" serializeAs="String">
        <value>null</value>
      </setting>
    </izibiz.SERVICES.sesionId>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>